<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="POST" action="/"  >
    {{form.hidden_tag()}}

    {{form.title.label}}
    {{form.title(placeholder="My movie")}}

<br>
<br>
        {{form.movie_type.label}}
        {{form.movie_type}}

<br>
<br>
         {{form.length.label}}
        {{form.length}}

<br>
<br>
    {{form.submit()}}
</form>
<h1>{{data['Title']}}</h1>
<h4>IMDB: {{data['imdbRating'] }}</h4>
<h3>Release Year: {{data['Released']}}  Box Office: {{data['BoxOffice']}} Genre: {{data['Genre']}}</h3>
<p>{{data['Plot']}}</p>
<h4>Length: {{data['Runtime']}}</h4>




{%if data['totalSeasons']%}
<p>{{data['totalSeasons'] }}</p>
{% endif %}

</body>
</html>

